<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta name="description" content="{{ site.tagline }}">
<meta content='#000000' name='theme-color'/>
<title>健一 | Kenichi</title>
<link rel="shortcut icon"
      href="https://images.weserv.nl/?url={{site.Image_URL}}&h=300&w=300&fit=cover&mask=circle&l=9&output=webp&q=63"
      onError="this.onerror=null;this.src='{% for link in site.links %}{% if link.Username and link.Name == 'GitHub' %}{{link.URL}}/{{link.Username}}.png{% endif %}{% endfor %}';"
      type="image/x-icon">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url}}">
<script src="https://kit.fontawesome.com/609f7f6148.js" crossorigin="anonymous"></script>

<!-- Open Graph Meta Tags -->
<meta property="og:url" content="https://cytsai1008.github.io/personal-links/">
<meta property="og:type" content="website">
<meta property="og:title" content="健一 | Kenichi">
<meta property="og:description" content="一隻寫程式和拍照的藍貓，大佬椒麻 ">
<meta property="og:image"
      content="https://cytsai1008.github.io/personal-links{{ '/assets/og/screenshot.png' | relative_url}}">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="960">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="cytsai1008.github.io">
<meta property="twitter:url" content="https://cytsai1008.github.io/personal-links/">
<meta name="twitter:title" content="健一 | Kenichi">
<meta name="twitter:description" content="一隻寫程式和拍照的藍貓，大佬椒麻 ">
<meta name="twitter:image"
      content="https://cytsai1008.github.io/personal-links{{ '/assets/og/screenshot.png' | relative_url}}">
